allow platform_app exfat:dir rw_dir_perms;
allow platform_app exfat:file rw_file_perms;
allow platform_app exfat:file unlink;
allow platform_app exfat:file create_file_perms;

# fimg2d
allow platform_app fimg2d_device:chr_file rw_file_perms;

# camera
allow platform_app camera_prop:file r_file_perms;
