on init
    mkdir /efs 0771 radio system
    symlink /dev/block/mmcblk0p13 /dev/mbin0
    restorecon /dev/mbin0
    symlink /sys/devices/platform/s5p-ehci/ehci_power /dev/ehci_power

on fs
    chown radio system /efs
    chmod 0771 /efs

    chown radio radio /sys/devices/virtual/misc/multipdp/waketime
    chown radio radio /sys/devices/platform/s5p-ehci/ehci_cpu_core

service modemloader /system/bin/modemloader
    class core
    oneshot

service cpboot-daemon /sbin/cbd -d -txmm626x -bh -mh -p 13
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r shell

# RIL
service_redefine ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket sap_uim_socket1 stream 660 bluetooth bluetooth
    socket rild-debug stream 660 radio system
#FSI {Tmm] Add Start (120615)
    socket rild-cas stream 660  casdrm mmb
#FSI {Tmm] Add End (120615)
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw log vpn system
    onrestart restart cpboot-daemon

on property:persist.sys.cpboot=disable
    stop ril-daemon
    stop cpboot-daemon

# for Wi-Fi only models
on property:ro.radio.noril=yes
stop ril-daemon
