# Parse hardware revision (needs to happen before cbd starts)
service modemloader /system/bin/modemloader
    class core
    oneshot

service cpboot-daemon /sbin/cbd -d -txmm626x -bh -mh -p13
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r shell


service_redefine ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw diag log
    onrestart restart cpboot-daemon
